*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(/images/background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(0,128,0, 50%);
    padding: 30px;
    display: flex;
}
nav h1{
    margin-left: 20px;
    color: #fff;
    font-size: 50px;
}
nav .AContainer{
    display: flex;
    font-size: 25px;
    margin-left: 600px;
}
nav .AContainer a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 18px;
}
nav .AContainer button{
    margin-left:  20px;
    padding: 20px;
    width: 100px;
    background-color: #008000;
    border: solid #008000;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
nav .AContainer button span{
    font-weight: bolder ;
}
nav .AContainer button:hover{
    background-color: transparent;
}
nav .AContainer a:hover{
    text-decoration: underline;
}
article{
    margin-left: 200px;
    margin-top: 100px;
}
article  aside h1{
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #000;
    font-size: 70px;
}
article aside p{
    margin-top: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    text-transform: capitalize;
}
article aside button{
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-color: #008000;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 2%;
    cursor: pointer;
}
